.frameParent {
  width: 100%;
  height: 98px;
  background-color: #fff;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 118px;
  font-size: 16px;
  color: #696b70;
  font-family: "Noto Sans KR";
  box-sizing: border-box;
}

.frameGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoIcon {
  width: 40px;
  height: 40px;
}

.menuItems {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuActive {
  height: 39px;
  border-bottom: 2px solid #f0d827;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItemBox {
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  line-height: 100%;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.helpIcon {
  width: 32px;
  height: 32px;
}

.menuIcon {
  width: 30px;
  height: 30px;
}
