.topbar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-bottom: 1px solid #b9b9b9;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  font-size: 16px;
  color: #696b70;
  font-family: "Noto Sans KR", sans-serif;
}

/* 콘텐츠 래퍼 (실제 로고/메뉴/아이콘 영역) */
.headerContentWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 118px;
  margin: 0 auto;
}

/* 좌측 섹션 (로고 및 메뉴) */
.leftSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoIcon {
  width: 40px;
  height: 40px;
}

.menuItems {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuActive {
  height: 100%;
  border-bottom: 2px solid #f0d827;
  display: flex;
  align-items: center;
  justify-content: center;
}


.menuItemBox {
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  line-height: 100%;
}

/* 우측 섹션 (아이콘) */
.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.helpIcon {
  width: 32px;
  height: 32px;
}

.menuIcon {
  width: 30px;
  height: 30px;
}

/* 아이콘 버튼 영역 */
.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit; /* 아이콘 색상 상속 */
}
