.container {
  width: 100%;
  height: 100%;
  background-color: #fff4d6;
  display: flex;

  align-items: center;
  justify-content: center;
}

.left {
  flex: 0 0 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  flex: 0 0 50%;
  padding: 20px;
  height: 100%;
}
