.rightcontainer {
    width: 60%;
    height: 100%;
    display: flex;
    /* border:1px solid black; */
}

.margin {
    width: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border:1px solid black; */
}

.full {
    width: 100%;
    height: 100%;
    /* 원하는 만큼 높이 */
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------------*/

.one {
    flex: 1;
    border: 2px solid #F0D827;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.between {
    height: 20px;

}

.two {
    flex: 1;
    border: 2px solid #F0D827;
    border-radius: 30px;
}

/*--------------------------------------------------*/
/*아기들*/
.babyclick {
    width: 97%;
    height: 91%;
    display: flex;
    gap: 10px;
    /* border:1px solid black; */
}

.ingbaby1 {
    width: 22%; /* hover 때 커지던 크기 */
    border: 2px solid #F0D827;
    background-color: #FFF4D6;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.ingbaby1 img,
.ingbaby1 .babyname,
.ingbaby1 .how {
    transform: scale(1.1); /* 가로+세로 5% 확대 */
    transition: transform 0.3s ease;
}


.ingbaby {
    width: 20%;
    border: 2px solid #F0D827;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    /* 전체 확대 */
    cursor: pointer;
}

.ingbaby:hover {
    background-color: #FFF4D6;
    width: 22%;
}

.ingbaby:hover img,
.ingbaby:hover .babyname,
.ingbaby:hover .how {
    transform: scale(1.1);
    /* 가로+세로 5% 확대 */
    transition: transform 0.3s ease;
}

/* .choiceBaby {
    width: 22%;
    border: 2px solid #F0D827;
    background-color: #FFF4D6;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 전체 확대 */
    /* cursor: pointer; */
/* } */ 


.bbb {
    display: flex;
    flex-direction: column;
    /* 세로로 쌓기 */
    justify-content: center;
    /* 세로 가운데 */
    align-items: center;
    /* 가로 가운데 */
    gap: 10px;
    /* 이미지와 이름, 이름과 how 간격 설정 */
    /* border:1px solid black; */
}

.babyname {
    font-size: 20px;
    font-weight: bold;
    color: #696B70;
}


.how {
    font-size: 16px;
    color: #696B70;
    font-weight: bold;
}
/*추가한 아기*/
.babyfaceImage {
    width:50%;
    /* border:1px solid black; */
}
/*----------------------------------------------------------*/

.plusbb {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 20%;
    border: 2px solid #F0D827;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* 전체 확대 */
}

.plusbb:hover {
    background-color: #FFF4D6;
    width: 22%;
}

.plusbb:hover img,
.plusbb:hover .babyname,
.plusbb:hover .how {
    transform: scale(1.1);
    /* 가로+세로 5% 확대 */
    transition: transform 0.3s ease;
}

.plusbb span {
    font-size: 18px;
    font-weight: bold;
    color: #696B70;
    transition: transform 0.3s ease;
    /* 텍스트 부드럽게 확대 */
}

.plusbb:hover span {
    transform: scale(1.1);
    /* 텍스트 20% 확대 */
}

/*-----------------------------------------------------------*/
/*아기추가 클릭했을때*/

.ppap {
    position: relative;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;

}

/*아기추가 클릭했을때 왼쪽*/
.modalContentone {
    width: 30%;
    height: 70%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.modalone {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* border:1px solid black; */
}

.sanmotitle {
    font-size: 32px;
    color: #696B70;
    font-weight: bold;
}

.be {
    font-size: 18px;
    color: #8C8C8C;
    font-weight: bold;
}

.babyImg {
    margin-top: 60px;
}

.babysun {
    margin-top: 60px;
    width: 100%;
    height: 48px;
    border-radius: 20px;
    border: none;
    background-color: #8C8C8C;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.modalContentone {
    border-radius: 20px;
    background-color: white;
}

.modalContentone:hover {
    border: 3px solid #F0D827
}

/*아기추가 클릭했을때 오른쪽*/
.modalContenttwo {
    width: 30%;
    height: 70%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.modaltwo {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* border:1px solid black; */
}

.modalContenttwo:hover {
    border: 3px solid #F0D827;
}

.babtitle {
    font-size: 32px;
    color: #696B70;
    font-weight: bold;
}

.bee {
    font-size: 18px;
    color: #8C8C8C;
    font-weight: bold;
}

.childrenImg {
    margin-top: 60px;
}

.bbbbb {
    margin-top: 60px;
    width: 100%;
    height: 48px;
    border-radius: 20px;
    border: none;
    background-color: #8C8C8C;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/*--------------------------------------------*/
/*취소 버튼*/
.back {
    position: absolute;
    /* ppap 기준 절대 위치 */
    top: 20px;
    right: 20px;
    padding: 8px 16px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: black;
    cursor: pointer;
    z-index: 10;
}

.back:hover {
    color: #d9b600;
}



/*-------------------------------------------------------------*/
.ing {
    width: 20%;
    border: 2px solid #F0D827;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    /* 전체 확대 */
    cursor: pointer;
}

.ing:hover {
    background-color: #FFF4D6;
    width: 22%;
}

.ing:hover img,
.ing:hover .babyname,
.ing:hover .how {
    transform: scale(1.1);
    /* 가로+세로 5% 확대 */
    transition: transform 0.3s ease;
}


.b {
    display: flex;
    flex-direction: column;
    /* 세로로 쌓기 */
    justify-content: center;
    /* 세로 가운데 */
    align-items: center;
    /* 가로 가운데 */
    gap: 10px;
    /* 이미지와 이름, 이름과 how 간격 설정 */
    /* border:1px solid black; */
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: #696B70;
}


.howtwo {
    font-size: 16px;
    color: #696B70;
    font-weight: bold;
}