/* 전체 레이아웃 */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* 전체 화면 */
  overflow: hidden;
  background-color: #ffffff;
}

/* 상단 네비 영역 */
.MemberHeader {
  flex: 0 0 auto;
  width: 100%;
  overflow: hidden;
}

/* 메인 내용 */
.layoutMain {
  flex: 1;
  height: calc(100vh - 98px);
  overflow: hidden; /* Body 내부에서 스크롤 없게 */
  padding: 20px 118px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 반응형 */
@media (max-width: 1400px) {
  .layoutMain {
    padding: 0 20px;
  }
}
