/* 전체 레이아웃 */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* 전체 화면 */
  overflow-x: hidden;
  overflow-y: visible;

  font-family: var(--font-family);
}

/* 상단 네비 영역 */
.MemberHeader {
  flex: 0 0 auto;
  width: 100%;

  z-index: 9999;
}

/* 메인 내용 */
.layoutMain {
  flex: 1;
  height: calc(100vh - 98px);
  overflow: hidden;
  padding: 20px 118px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--color-white);
}

.layoutMainYellow {
  flex: 1;
  height: calc(100vh - 98px);
  padding: 20px 118px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--color-sud-color1) !important;
}

/* 반응형 */
@media (max-width: 1400px) {
  .layoutMain,
  .layoutMainYellow {
    padding: 0 20px;
  }
}

@media (max-width: 430px) {
  .layoutMain,
  .layoutMainYellow {
    padding: 0 10px;
  }
}
