@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

:root {
  --font-family: "Noto Sans KR", sans-serif;

  --color-primary: #f0d827;
  --color-hover: #e0c817;

  --color-sud-color1: #fff4d6;

  --color-font-color1: #696b70;
  --color-font-color2: #8c8c8c;

  --color-font-back: #d9d9d9;
  --color-back-hover: #b0b0b0;

  --color-main: #adb9e3;
  --color-main-hover: #94a4d6;

  --color-white: #ffffff;

  --font-size-base: 16px;
  --border-radius-main: 22px;
  --border-radius-body: 16px;
  transform: scale(0.98);
}

/* => 스타일 예시 이렇게 작성
body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--color-gray-100);
} */

/* 
  formula: { title: "분유", total: "450ml", icon: Milk, color: "#ff8cb3" },
  poop: { title: "배변", total: "3회", icon: Droplets, color: "#ffb84d" },
  babyfood: { title: "이유식", total: "180ml", icon: Soup, color: "#7adf80" },
  sleep: { title: "수면", total: "7시간", icon: Moon, color: "#7abaff" },
  temp: { title: "체온", total: "36.5°C", icon: Thermometer, color: "#ff7a7a" }, 
 */
