.leftcontainer {
  width: 100%;
  height: 100%;
  display: flex; /* flex로 중앙 정렬 */
  justify-content: center; /* 수평 중앙 */
  align-items: center; /* 수직 중앙 */
  position: relative;
  overflow: hidden;
  /* border:1px solid black; */
}

.backImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.jionewbabyImage {
  width: 76%; 
  height: auto;
  z-index: 2;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(-1deg);
  }
  50% {
    transform: translateY(0px) rotate(1deg);
  }
  75% {
    transform: translateY(10px) rotate(-1deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
