.contentBox {
  flex: 1;
  border: 1px solid var(--color-primary);
  border-radius: 22px;
  box-sizing: border-box;
  min-width: 0;
  font-family: var(--font-family);

  width: 100%;
  height: 100%; /* 부모 높이에 맞춤 */
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chartArea {
  flex: 1;
  width: 100%;
}

.contentHeader {
  font-size: 20px;
  font-weight: bold;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #555;
}

/* ------------------------------ */
/* 반응형 높이 조정 */
/* ------------------------------ */
@media (max-width: 1200px) and (min-width: 769px) {
  .contentBox {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .contentBox {
    height: 500px;
  }
}

@media (max-width: 480px) {
  .contentBox {
    height: 350px;
  }
}
