/* BabyBox의 전체 컨테이너 */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 상단 아기 정보 영역 */
.babyImagePlaceholder {
  flex: 0 0 auto;
}

.babyName {
  font-size: 30px;
  font-weight: bold;
  color: #696b70;
}

.dueDate {
  font-size: 22px;
  font-weight: bold;
  color: #f0d827;
}

/* 아래 흰색 컨텐츠 영역 */
.mainContentArea {
  flex: 1;
  position: relative;
  border-radius: 22px;
  background-color: #fff;
  overflow: hidden;
}

/* 배경 이미지 */
.backgrondImage {
  width: 90%;
  height: 90%;
  position: absolute;
  object-fit: contain;
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;
}

/* 위에 겹치는 캐릭터 이미지 */
.placeholderImage {
  width: 28%;
  position: absolute;
  height: auto;
  object-fit: contain;
  transform: translate(-50%, -55%);
  top: 16%;
  left: 33%;
}

.parentingImage {
  width: 28%;
  position: absolute;
  height: auto;
  object-fit: contain;
  transform: translate(-50%, -55%);

  top: 10%;
  left: 36%;
}
