.CheckContainer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
}

.CheckContainer h2 {
  color: #696b70;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0d827;
  margin-bottom: 20px;
}

/* 각 영역 공통 */
.left,
.rigth {
  flex: 1;
  min-width: 45%;
  border: 1px solid #f0d827;
  border-radius: 12px;
  padding: 15px;

  display: flex;
  flex-direction: column;
}

/* 나머지 높이 */
.listWrapper {
  flex: 1;
  overflow-y: auto;
}
