.CheckContanier {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;

  box-sizing: border-box;
}

.CheckContanier h2 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0d827;
  margin-bottom: 20px;
}

/* 왼쪽 영역 (검진 리스트) */
.left {
  flex: 1;
  min-width: 45%;
  border: 1px solid #f0d827;
  border-radius: 12px;
  padding: 15px;
}

/* 오른쪽 영역 (증상 리스트) */
.rigth {
  flex: 1;
  min-width: 45%;
  border: 1px solid #f0d827;
  border-radius: 12px;
  padding: 15px;
}
