/* ============================= */
/* 기본 데스크탑 - 좌우 배치 */
/* ============================= */
.CheckContainer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
}

.left,
.rigth {
  flex: 1;
  min-width: 45%;
  border: 1px solid #f0d827;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.CheckContainer h2 {
  color: #696b70;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0d827;
  margin-bottom: 20px;
}

.listWrapper {
  flex: 1;
  overflow-y: auto;
}
